body{
	background-image: url(flag.jpeg);
	background-position: center;
}

h1{	font-family: Verdana;
	color: white;
	font-size: 40px;
}

#box{
	width: 1000px;
	height: auto;
	margin: auto;
}

#header{
	background-image: url(dark-triangles.png);
}

#jln{
	font-family: times;
	word-spacing: 5px;
	color: #ffcfda;
	font-size: 20px;
}

#hlm{
	background-image: url(full-bloom.png);
	font-family: times;
	font-size: 15px;
}

#a{
	font-family: Cambria;
	font-size: 17px;
}

#b{
	font-family: Cambria;
	font-size: 17px;
}

#bhs{
	font-family: Helvetica;
	font-size: 18px;
	font-style: italic;
}

#table{
	background-color: #f2ff63;
}

#button{
	font-family: Monaco;
	font-weight: bolder;
	width: 375px;
	height: 30px;
	background-color: #66ff63;
	border-radius: 8px;
}

#footer{
	font-family: arial;
	font-style: italic;
	color: white;
	background-image: url(dark-triangles.png);
}